/SwiftKey/de_DE/de_DE.blogs.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/de_DE/de_DE.news.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/de_DE/de_DE.twitter.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/en_US/en_US.blogs.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/en_US/en_US.news.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/en_US/en_US.twitter.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/fi_FI/fi_FI.blogs.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/fi_FI/fi_FI.news.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/ru_RU/ru_RU.blogs.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/ru_RU/ru_RU.news.txt filter=lfs diff=lfs merge=lfs -text
/SwiftKey/ru_RU/ru_RU.twitter.txt filter=lfs diff=lfs merge=lfs -text
/eng_wikipedia_2016_1M/eng_wikipedia_2016_1M-co_s.txt filter=lfs diff=lfs merge=lfs -text
/eng_wikipedia_2016_1M/eng_wikipedia_2016_1M-inv_w.txt filter=lfs diff=lfs merge=lfs -text
/eng_wikipedia_2016_1M/eng_wikipedia_2016_1M-sentences.txt filter=lfs diff=lfs merge=lfs -text
